body {
    font-family: 'Work Sans', sans-serif;
    ;
    margin: 0;
    padding: 0;
}



/* completing the header part */


.header {
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.head-content {
    text-align: right;
    padding: 216px 300px 170px 1100px;
}

.heading {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.head-description {
    margin-top: 0;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.first-btn {
    margin-top: 0;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
}

/* completing the failure part */
main {
    max-width: 1600px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.failure {
    display: flex;
    padding: 0 200px;
}

.failure-column1 {
    margin-right: 50px;
}

.failure-column2 {
    align-items: center;
    padding: 200px 90px;
}

.failure-heading {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.failure-description {
    margin-top: none;
    margin-bottom: 16px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.lines {
    margin-top: 0;
    margin-bottom: 8;
    color: #444343);
    font-size: 16px;
    font-weight: 400;
}


/* completing the plan part */

.plan {
    text-align: center;
    width: 1600px;
}

.plan-heading {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.planning-details {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 0;
}

.plan-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.plan-des {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0;
}

/* doing the gradient section */

.gradient {
    width: 1140px;
    height: 300px;
    background-position: right;
    background: linear-gradient(to right, #F15B22 0%, rgba(241, 91, 34, 0.00)), url('../images/watch.png');
    border-radius: 8px;
    background-repeat: no-repeat;
    margin: 130px 230px 0px 230px;
}

.gradient-content {
    padding: 20px 620px 50px 64px;
}

.gradient-txt {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.secondary-btn {
    padding: 21px 36px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
}

/* foooter section */

.footer {
    padding: 130px 230px;
    display: flex;
    gap: 600px;
    background-color: #151414;
    margin-top: 130px;
}

.footer-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-des {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 0;
}

.f-line1 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 16px;
}

.f-line2 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 32px;
}

.icons {
    display: flex;
    gap: 20px;
}

.fsection-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.email {
    background: #151414;
    padding: 22px 158px 22px 22px;
    border-radius: 8px;
    border: 1px solid #FFF;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
}